.sidebar {
  width: 250px;
  height: 100vh;
  background: #6d28d9; // roxo principal
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

/* LOGO */
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.logo-icon {
  width: 42px;
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ffffff' stroke-width='2' viewBox='0 0 24 24'><path d='M3 3v18h18'/><path d='M7 14l3-3 4 4 5-8'/></svg>");
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
}

/* MENU */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 15px;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.menu-item.active {
  background: #8b5cf6;
}

.menu-icon {
  width: 22px;
  height: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Aqui você coloca os BGs dos ícones */
/* ================================
   ICONES INLINE (DATA-URL SVG)
================================ */

/* DASHBOARD */
.dashboard-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'><path d='M8.5 7.5V0.51875C8.5 0.2375 8.71875 0 9 0C12.8656 0 16 3.13438 16 7C16 7.28125 15.7625 7.5 15.4813 7.5H8.5ZM0 8.5C0 4.70937 2.81562 1.57187 6.46875 1.07187C6.75625 1.03125 7 1.2625 7 1.55313V9L11.8906 13.8906C12.1 14.1 12.0844 14.4438 11.8438 14.6125C10.6187 15.4875 9.11875 16 7.5 16C3.35938 16 0 12.6438 0 8.5ZM16.45 9C16.7406 9 16.9687 9.24375 16.9312 9.53125C16.6906 11.2781 15.85 12.8312 14.6219 13.9781C14.4344 14.1531 14.1406 14.1406 13.9594 13.9563L9 9H16.45Z' fill='%23E9D5FF'/></svg>");
}

/* CARDÁPIO */
.cardapio-icon {
  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' fill='none'>\
<path d='M13 0C12.5 0 9 1 9 5.5V9C9 10.1031 9.89688 11 11 11H12V15C12 15.5531 12.4469 16 13 16C13.5531 16 14 15.5531 14 15V11V7.5V1C14 0.446875 13.5531 0 13 0ZM2 0.5C2 0.24375 1.80938 0.03125 1.55313 0.003125C1.29688 -0.025 1.06875 0.14375 1.0125 0.390625L0.065625 4.65C0.021875 4.84688 0 5.04687 0 5.24687C0 6.68125 1.09687 7.85938 2.5 7.9875V15C2.5 15.5531 2.94687 16 3.5 16C4.05313 16 4.5 15.5531 4.5 15V7.9875C5.90313 7.85938 7 6.68125 7 5.24687C7 5.04687 6.97812 4.84688 6.93437 4.65L5.9875 0.390625C5.93125 0.140625 5.69687 -0.025 5.44375 0.003125C5.19062 0.03125 5 0.24375 5 0.5V4.69375C5 4.8625 4.8625 5 4.69375 5C4.53437 5 4.40312 4.87812 4.3875 4.71875L3.99688 0.45625C3.975 0.196875 3.75938 0 3.5 0C3.24062 0 3.025 0.196875 3.00312 0.45625L2.61562 4.71875C2.6 4.87812 2.46875 5 2.30938 5C2.14063 5 2.00312 4.8625 2.00312 4.69375V0.5H2Z' fill='%23E9D5FF'/>\
</svg>");
}


/* CATEGORIAS */
.categorias-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path d='M10.7812 1.22187L14.775 5.2625C16.4125 6.91875 16.4125 9.58125 14.775 11.2375L11.275 14.7781C10.9844 15.0719 10.5094 15.075 10.2156 14.7844C9.92187 14.4938 9.91875 14.0188 10.2094 13.725L13.7063 10.1844C14.7656 9.1125 14.7656 7.39062 13.7063 6.31875L9.71562 2.27813C9.425 1.98438 9.42813 1.50938 9.72188 1.21875C10.0156 0.928125 10.4906 0.93125 10.7812 1.225V1.22187ZM0 7.17188V2.5C0 1.67188 0.671875 1 1.5 1H6.17188C6.70312 1 7.2125 1.20938 7.5875 1.58438L12.8375 6.83437C13.6187 7.61562 13.6187 8.88125 12.8375 9.6625L8.66562 13.8344C7.88437 14.6156 6.61875 14.6156 5.8375 13.8344L0.5875 8.58438C0.209375 8.20938 0 7.70312 0 7.17188Z' fill='%23E9D5FF'/></svg>");
}

/* PRODUTOS */
.produtos-icon {
  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' fill='none'>\
<path d='M1.58438 1.82812L0 5H6.5V1H2.92812C2.35937 1 1.84063 1.32187 1.58438 1.82812ZM7.5 5H14L12.4156 1.82812C12.1594 1.32187 11.6406 1 11.0719 1H7.5V5ZM14 6H0V13C0 14.1031 0.896875 15 2 15H12C13.1031 15 14 14.1031 14 13V6Z' fill='%23E9D5FF'/>\
</svg>");
}


/* ADICIONAIS */
.adicionais-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'><path d='M8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16ZM7.25 10.75V8.75H5.25C4.83437 8.75 4.5 8.41563 4.5 8C4.5 7.58437 4.83437 7.25 5.25 7.25H7.25V5.25C7.25 4.83437 7.58437 4.5 8 4.5C8.41563 4.5 8.75 4.83437 8.75 5.25V7.25H10.75C11.1656 7.25 11.5 7.58437 11.5 8C11.5 8.41563 11.1656 8.75 10.75 8.75H8.75V10.75C8.75 11.1656 8.41563 11.5 8 11.5C7.58437 11.5 7.25 11.1656 7.25 10.75Z' fill='%23E9D5FF'/></svg>");
}

/* COMBOS */
.combos-icon {
  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='18' height='16' viewBox='0 0 18 16' fill='none'>\
<path d='M8.26562 0.162451C8.73125 -0.0531738 9.26875 -0.0531738 9.73438 0.162451L16.5656 3.3187C16.8312 3.44058 17 3.7062 17 3.99995C17 4.2937 16.8312 4.55933 16.5656 4.6812L9.73438 7.83745C9.26875 8.05308 8.73125 8.05308 8.26562 7.83745L1.43438 4.6812C1.16875 4.5562 1 4.29058 1 3.99995C1 3.70933 1.16875 3.44058 1.43438 3.3187L8.26562 0.162451ZM14.9031 6.54995L16.5656 7.3187C16.8312 7.44058 17 7.7062 17 7.99995C17 8.2937 16.8312 8.55933 16.5656 8.6812L9.73438 11.8375C9.26875 12.0531 8.73125 12.0531 8.26562 11.8375L1.43438 8.6812C1.16875 8.5562 1 8.29058 1 7.99995C1 7.70933 1.16875 7.44058 1.43438 7.3187L3.09687 6.54995L7.84688 8.7437C8.57813 9.0812 9.42187 9.0812 10.1531 8.7437L14.9031 6.54995ZM10.1531 12.7437L14.9031 10.55L16.5656 11.3187C16.8312 11.4406 17 11.7062 17 12C17 12.2937 16.8312 12.5593 16.5656 12.6812L9.73438 15.8375C9.26875 16.0531 8.73125 16.0531 8.26562 15.8375L1.43438 12.6812C1.16875 12.5562 1 12.2906 1 12C1 11.7093 1.16875 11.4406 1.43438 11.3187L3.09687 10.55L7.84688 12.7437C8.57813 13.0812 9.42187 13.0812 10.1531 12.7437Z' fill='%23E9D5FF'/>\
</svg>");
}


/* PROMOÇÕES */
.promocoes-icon {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='16' viewBox='0 0 12 16' fill='none'><path d='M11.7063 3.70615C12.0969 3.31553 12.0969 2.68115 11.7063 2.29053C11.3156 1.8999 10.6813 1.8999 10.2906 2.29053L0.290649 12.2905C-0.0999756 12.6812 -0.0999756 13.3155 0.290649 13.7062C0.681274 14.0968 1.31565 14.0968 1.70627 13.7062L11.7063 3.70615ZM4.00002 3.9999C4.00002 3.46947 3.78931 2.96076 3.41424 2.58569C3.03917 2.21062 2.53046 1.9999 2.00002 1.9999C1.46959 1.9999 0.960884 2.21062 0.585811 2.58569C0.210738 2.96076 2.44081e-05 3.46947 2.44081e-05 3.9999C2.44081e-05 4.53034 0.210738 5.03904 0.585811 5.41412C0.960884 5.78919 1.46959 5.9999 2.00002 5.9999C2.53046 5.9999 3.03917 5.78919 3.41424 5.41412C3.78931 5.03904 4.00002 4.53034 4.00002 3.9999ZM12 11.9999C12 11.4695 11.7893 10.9608 11.4142 10.5857C11.0392 10.2106 10.5305 9.9999 10 9.9999C9.46959 9.9999 8.96088 10.2106 8.58581 10.5857C8.21074 10.9608 8.00002 11.4695 8.00002 11.9999C8.00002 12.5303 8.21074 13.039 8.58581 13.4141C8.96088 13.7892 9.46959 13.9999 10 13.9999C10.5305 13.9999 11.0392 13.7892 11.4142 13.4141C11.7893 13.039 12 12.5303 12 11.9999Z' fill='%23E9D5FF'/></svg>");
}

/* CAIXA (PDV) */
.caixa-icon {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><g clip-path="url(%23clip0_1551_34283)"><path d="M2 0C1.44687 0 1 0.446875 1 1V3C1 3.55313 1.44687 4 2 4H4.5V5H2.71875C1.73125 5 0.890625 5.72187 0.740625 6.7L0.034375 11.3781C0.0125 11.525 0 11.675 0 11.825V14C0 15.1031 0.896875 16 2 16H14C15.1031 16 16 15.1031 16 14V11.825C16 11.675 15.9875 11.525 15.9656 11.375L15.2563 6.7C15.1094 5.72187 14.2688 5 13.2812 5H6.5V4H9C9.55313 4 10 3.55313 10 3V1C10 0.446875 9.55313 0 9 0H2ZM3 1.5H8C8.275 1.5 8.5 1.725 8.5 2C8.5 2.275 8.275 2.5 8 2.5H3C2.725 2.5 2.5 2.275 2.5 2C2.5 1.725 2.725 1.5 3 1.5ZM2 13.5C2 13.225 2.225 13 2.5 13H13.5C13.775 13 14 13.225 14 13.5C14 13.775 13.775 14 13.5 14H2.5C2.225 14 2 13.775 2 13.5ZM3.5 8.25C3.30109 8.25 3.11032 8.17098 2.96967 8.03033C2.82902 7.88968 2.75 7.69891 2.75 7.5C2.75 7.30109 2.82902 7.11032 2.96967 6.96967C3.11032 6.82902 3.30109 6.75 3.5 6.75C3.69891 6.75 3.88968 6.82902 4.03033 6.96967C4.17098 7.11032 4.25 7.30109 4.25 7.5C4.25 7.69891 4.17098 7.88968 4.03033 8.03033C3.88968 8.17098 3.69891 8.25 3.5 8.25ZM7.25 7.5C7.25 7.69891 7.17098 7.88968 7.03033 8.03033C6.88968 8.17098 6.69891 8.25 6.5 8.25C6.30109 8.25 6.11032 8.17098 5.96967 8.03033C5.82902 7.88968 5.75 7.69891 5.75 7.5C5.75 7.30109 5.82902 7.11032 5.96967 6.96967C6.11032 6.82902 6.30109 6.75 6.5 6.75C6.69891 6.75 6.88968 6.82902 7.03033 6.96967C7.17098 7.11032 7.25 7.30109 7.25 7.5ZM5 10.75C4.80109 10.75 4.61032 10.671 4.46967 10.5303C4.32902 10.3897 4.25 10.1989 4.25 10C4.25 9.80109 4.32902 9.61032 4.46967 9.46967C4.61032 9.32902 4.80109 9.25 5 9.25C5.19891 9.25 5.38968 9.32902 5.53033 9.46967C5.67098 9.61032 5.75 9.80109 5.75 10C5.75 10.1989 5.67098 10.3897 5.53033 10.5303C5.38968 10.671 5.19891 10.75 5 10.75ZM10.25 7.5C10.25 7.69891 10.171 7.88968 10.0303 8.03033C9.88968 8.17098 9.69891 8.25 9.5 8.25C9.30109 8.25 9.11032 8.17098 8.96967 8.03033C8.82902 7.88968 8.75 7.69891 8.75 7.5C8.75 7.30109 8.82902 7.11032 8.96967 6.96967C9.11032 6.82902 9.30109 6.75 9.5 6.75C9.69891 6.75 9.88968 6.82902 10.0303 6.96967C10.171 7.11032 10.25 7.30109 10.25 7.5ZM8 10.75C7.80109 10.75 7.61032 10.671 7.46967 10.5303C7.32902 10.3897 7.25 10.1989 7.25 10C7.25 9.80109 7.32902 9.61032 7.46967 9.46967C7.61032 9.32902 7.80109 9.25 8 9.25C8.19891 9.25 8.38968 9.32902 8.53033 9.46967C8.67098 9.61032 8.75 9.80109 8.75 10C8.75 10.1989 8.67098 10.3897 8.53033 10.5303C8.38968 10.671 8.19891 10.75 8 10.75ZM13.25 7.5C13.25 7.59849 13.2306 7.69602 13.1929 7.78701C13.1552 7.87801 13.1 7.96069 13.0303 8.03033C12.9607 8.09997 12.878 8.15522 12.787 8.19291C12.696 8.2306 12.5985 8.25 12.5 8.25C12.4015 8.25 12.304 8.2306 12.213 8.19291C12.122 8.15522 12.0393 8.09997 11.9697 8.03033C11.9 7.96069 11.8448 7.87801 11.8071 7.78701C11.7694 7.69602 11.75 7.59849 11.75 7.5C11.75 7.40151 11.7694 7.30398 11.8071 7.21299C11.8448 7.12199 11.9 7.03931 11.9697 6.96967C12.0393 6.90003 12.122 6.84478 12.213 6.80709C12.304 6.7694 12.4015 6.75 12.5 6.75C12.5985 6.75 12.696 6.7694 12.787 6.80709C12.878 6.84478 12.9607 6.90003 13.0303 6.96967C13.1 7.03931 13.1552 7.12199 13.1929 7.21299C13.2306 7.30398 13.25 7.40151 13.25 7.5ZM11 10.75C10.8011 10.75 10.6103 10.671 10.4697 10.5303C10.329 10.3897 10.25 10.1989 10.25 10C10.25 9.80109 10.329 9.61032 10.4697 9.46967C10.6103 9.32902 10.8011 9.25 11 9.25C11.1989 9.25 11.3897 9.32902 11.5303 9.46967C11.671 9.61032 11.75 9.80109 11.75 10C11.75 10.1989 11.671 10.3897 11.5303 10.5303C11.3897 10.671 11.1989 10.75 11 10.75Z" fill="white"/></g><defs><clipPath id="clip0_1551_34283"><path d="M0 0H16V16H0V0Z" fill="white"/></clipPath></defs></svg>');
}

/* RELATÓRIOS */
.pedidos-icon {
  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'>\
<path d='M1 1C1.55313 1 2 1.44687 2 2V12.5C2 12.775 2.225 13 2.5 13H15C15.5531 13 16 13.4469 16 14C16 14.5531 15.5531 15 15 15H2.5C1.11875 15 0 13.8813 0 12.5V2C0 1.44687 0.446875 1 1 1ZM4 4C4 3.44687 4.44687 3 5 3H11C11.5531 3 12 3.44687 12 4C12 4.55313 11.5531 5 11 5H5C4.44687 5 4 4.55313 4 4ZM5 6H9C9.55313 6 10 6.44687 10 7C10 7.55313 9.55313 8 9 8H5C4.44687 8 4 7.55313 4 7C4 6.44687 4.44687 6 5 6ZM5 9H13C13.5531 9 14 9.44687 14 10C14 10.5531 13.5531 11 13 11H5C4.44687 11 4 10.5531 4 10C4 9.44687 4.44687 9 5 9Z' fill='%23E9D5FF'/>\
</svg>");
}


/* CONFIGURAÇÕES */
.config-icon {
  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'>\
<path d='M15.4969 5.20625C15.5969 5.47813 15.5126 5.78125 15.2969 5.975L13.9438 7.20625C13.9782 7.46563 13.9969 7.73125 13.9969 8C13.9969 8.26875 13.9782 8.53437 13.9438 8.79375L15.2969 10.025C15.5126 10.2187 15.5969 10.5219 15.4969 10.7937C15.3594 11.1656 15.1938 11.5219 15.0032 11.8656L14.8563 12.1187C14.6501 12.4625 14.4188 12.7875 14.1657 13.0938C13.9813 13.3187 13.6751 13.3937 13.4001 13.3062L11.6594 12.7531C11.2407 13.075 10.7782 13.3438 10.2844 13.5469L9.89381 15.3313C9.83131 15.6156 9.61256 15.8406 9.32506 15.8875C8.89381 15.9594 8.45006 15.9969 7.99693 15.9969C7.54381 15.9969 7.10006 15.9594 6.66881 15.8875C6.38131 15.8406 6.16256 15.6156 6.10006 15.3313L5.70943 13.5469C5.21568 13.3438 4.75318 13.075 4.33443 12.7531L2.59693 13.3094C2.32193 13.3969 2.01568 13.3188 1.83131 13.0969C1.57818 12.7906 1.34693 12.4656 1.14068 12.1219L0.993807 11.8687C0.803182 11.525 0.637557 11.1687 0.500057 10.7969C0.400057 10.525 0.484432 10.2219 0.700057 10.0281L2.05318 8.79688C2.01881 8.53438 2.00006 8.26875 2.00006 8C2.00006 7.73125 2.01881 7.46563 2.05318 7.20625L0.700057 5.975C0.484432 5.78125 0.400057 5.47813 0.500057 5.20625C0.637557 4.83438 0.803182 4.47813 0.993807 4.13438L1.14068 3.88125C1.34693 3.5375 1.57818 3.2125 1.83131 2.90625C2.01568 2.68125 2.32193 2.60625 2.59693 2.69375L4.33756 3.24688C4.75631 2.925 5.21881 2.65625 5.71256 2.45312L6.10318 0.66875C6.16568 0.384375 6.38443 0.159375 6.67193 0.1125C7.10318 0.0375 7.54693 0 8.00006 0C8.45318 0 8.89693 0.0375 9.32818 0.109375C9.61568 0.15625 9.83443 0.38125 9.89693 0.665625L10.2876 2.45C10.7813 2.65313 11.2438 2.92188 11.6626 3.24375L13.4032 2.69062C13.6782 2.60312 13.9844 2.68125 14.1688 2.90313C14.4219 3.20938 14.6532 3.53437 14.8594 3.87812L15.0063 4.13125C15.1969 4.475 15.3626 4.83125 15.5001 5.20312L15.4969 5.20625ZM8.00006 10.5C8.6631 10.5 9.29898 10.2366 9.76782 9.76777C10.2367 9.29893 10.5001 8.66304 10.5001 8C10.5001 7.33696 10.2367 6.70107 9.76782 6.23223C9.29898 5.76339 8.6631 5.5 8.00006 5.5C7.33702 5.5 6.70113 5.76339 6.23229 6.23223C5.76345 6.70107 5.50006 7.33696 5.50006 8C5.50006 8.66304 5.76345 9.29893 6.23229 9.76777C6.70113 10.2366 7.33702 10.5 8.00006 10.5Z' fill='%23E9D5FF'/>\
</svg>");
}

/* SAIR */
.sair-icon {
  background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'>\
<path d='M11.8094 3.30938L15.6469 7.14687C15.8719 7.37187 16 7.68125 16 8C16 8.31875 15.8719 8.62812 15.6469 8.85312L11.8094 12.6906C11.6094 12.8906 11.3406 13 11.0594 13C10.475 13 10 12.525 10 11.9406V10H6C5.44687 10 5 9.55313 5 9V7C5 6.44687 5.44687 6 6 6H10V4.05937C10 3.475 10.475 3 11.0594 3C11.3406 3 11.6094 3.1125 11.8094 3.30938ZM5 3H3C2.44687 3 2 3.44687 2 4V12C2 12.5531 2.44687 13 3 13H5C5.55313 13 6 13.4469 6 14C6 14.5531 5.55313 15 5 15H3C1.34375 15 0 13.6562 0 12V4C0 2.34375 1.34375 1 3 1H5C5.55313 1 6 1.44687 6 2C6 2.55313 5.55313 3 5 3Z' fill='%23E9D5FF'/>\
</svg>");
}


/* ========== MOBILE / TABLET ========== */
.hamburger-btn {
  position: fixed;
  top: 14px;
  left: 16px;
  z-index: 9999;
  background: #6d28d9;
  color: white;
  border: none;
  font-size: 24px;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: none;

  @media (max-width: 900px) {
    display: block;
  }
}

/* Overlay escurecido */
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: #0000007e;
  z-index: 9998;
}

/* Sidebar móvel */
.sidebar {
  transition: transform 0.35s ease;
  transform: translateX(0);

  @media (max-width: 900px) {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    z-index: 9999;
    transform: translateX(-100%);
  }

  &.open {
    transform: translateX(0);
  }
}

/* Botão fechar */
.close-sidebar {
  display: none;

  @media (max-width: 900px) {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 26px;
    margin-left: auto;
    cursor: pointer;
    margin-bottom: 20px;
  }
}

/* BOTÃO HAMBÚRGUER */
.hamburger-btn {
  position: fixed;
  top: 14px;
  left: 16px;
  z-index: 9999;
  width: 42px;
  height: 42px;
  background: #6d28d9;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: none;

  /* Ícone SVG hamburguer */
  background-image: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'>\
  <path d='M4 7H22C22.55 7 23 6.55 23 6C23 5.45 22.55 5 22 5H4C3.45 5 3 5.45 3 6C3 6.55 3.45 7 4 7ZM4 14H22C22.55 14 23 13.55 23 13C23 12.45 22.55 12 22 12H4C3.45 12 3 12.45 3 13C3 13.55 3.45 14 4 14ZM4 21H22C22.55 21 23 20.55 23 20C23 19.45 22.55 19 22 19H4C3.45 19 3 19.45 3 20C3 20.55 3.45 21 4 21Z' fill='%23ffffff'/>\
  </svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;

  @media (max-width: 900px) {
    display: block;
  }
}